In [ ]:
## Import typical data science packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import re

In [ ]:
## Import and concatenate the data files

# Directory containing the CSV files
data_dir = r"C:\Users\ceero\Downloads\Admissions\Data"
# Match files ending with four digits followed by .csv
all_files = [f for f in os.listdir(data_dir) if re.search(r'adm\d{4}\.csv$', f)]

# Read and combine all matched CSV files
dfs = []
for file in all_files:
    # Construct full file path
    file_path = os.path.join(data_dir, file)
    # Read the CSV file
    df = pd.read_csv(file_path)
    # Extract the four digits before .csv
    match = re.search(r'(adm\d{4})\.csv$', file)
    if match:
        df['year'] = match.group(1)
    else:
        df['year'] = None
    # Clean white space out of column names
    df.columns = df.columns.str.strip()
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

In [ ]:
# Quick description of the combined data
combined_df.describe()

,UNITID,ADMCON1,ADMCON2,ADMCON3,ADMCON4,ADMCON5,ADMCON6,ADMCON7,ADMCON8,ADMCON9,...,ENRLUN,ENRLFTAN,ENRLFTUN,ENRLPTAN,ENRLPTUN,SATVR50,SATMT50,ACTCM50,ACTEN50,ACTMT50
count,20571.000000,20571.000000,20571.000000,20571.000000,20571.000000,20571.000000,20571.000000,20571.000000,20571.000000,20571.000000,...,3524.000000,295.000000,3512.000000,221.000000,2672.000000,2002.000000,2002.000000,1976.000000,1861.000000,1863.000000
mean,225909.204122,1.521073,2.824121,1.235234,2.260026,2.322882,2.849594,2.506781,1.663993,2.808954,...,0.612089,13.806780,0.573178,0.425339,0.053892,589.937562,581.505994,24.579960,24.209027,23.072464
std,106304.530468,1.033696,1.116885,0.760622,1.158010,1.277672,0.869699,1.537061,1.067610,0.760446,...,7.155043,19.790053,6.932173,2.500925,0.571454,71.487757,79.271699,4.567877,5.198722,4.429130
min,100654.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,380.000000,310.000000,5.000000,2.000000,5.000000
25%,159391.000000,1.000000,2.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,3.000000,...,0.000000,2.000000,0.000000,0.000000,0.000000,540.000000,530.000000,21.000000,21.000000,20.000000
50%,197036.000000,1.000000,3.000000,1.000000,2.000000,2.000000,3.000000,2.000000,1.000000,3.000000,...,0.000000,6.000000,0.000000,0.000000,0.000000,580.000000,570.000000,24.000000,23.000000,23.000000
75%,231411.000000,2.000000,3.000000,1.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,...,0.000000,15.000000,0.000000,0.000000,0.000000,635.000000,620.000000,28.000000,27.000000,26.000000
max,499635.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,9.000000,...,358.000000,158.000000,347.000000,35.000000,18.000000,760.000000,800.000000,35.000000,35.000000,35.000000

In [ ]:
## Look at which observations are not recorded at all in certain years

# For each column, find years where all entries are null for that column
null_years = {}
for col in combined_df.columns:
    # Group by year and check if all values in the column are null for each year
    years_all_null = combined_df.groupby('year')[col].apply(lambda x: x.isnull().all())
    # Get years where all values are null
    null_years[col] = years_all_null[years_all_null].index.tolist()

# Display columns with at least one year where all entries are null
for col, years in null_years.items():
    if years:
        print(f"Column '{col}' is all null in years: {years}")

Column 'XSATWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'SATWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'XSATWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'SATWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'XACTWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'ACTWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'XACTWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'ACTWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'ADMCON10' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMCON11' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMCON12' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XAPPLCNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'APPLCNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XAPPLCNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'APPLCNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XADMSSNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMSSNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XADMSSNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMSSNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLFTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLFTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLFTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLFTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLPTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLPTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLPTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLPTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XSATVR50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'SATVR50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XSATMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'SATMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XACTCM50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ACTCM50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XACTEN50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ACTEN50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XACTMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ACTMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']